<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Students</title>
</head>
<body>
  <h1>Students</h1>
  <% if(error) { %>
    <h2><%= error %></h2>
  <% } %>
  <ul>
    <% students.forEach( function(student) { %>
      <li>
        student :
        <%= student._id %>
        - Year :
        <%= student.year  %> 
          -
        <%= student.scholarship ? 'has scholarship' : 'does not have scholarship' %>
      </li>
    <% }) %>
  </ul>
</body>
</html>